@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

img {
    height: 100px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+img {
    cursor: pointer;
}

[type=radio]:checked+img {
    outline: 2px solid black;
}

.ending {
    height: 100vh;
    width: 100vw;
    position: relative;
    content: ' ';
    display: block;
    /* opacity: 0.9; */
    background-image: url(./assets/ending.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 50%; */
    overflow: hidden
}

.ending-root,
.landing-root {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.page {
    height: 100vh !important;
    width: 100vw !important;
    background-color: white;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    font-family: Nunito;
    font-display: white;
}

.background-pic {
    height: 100vh;
    width: 100vw;
    position: relative;
    content: ' ';
    display: block;
    /* opacity: 0.9; */
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden
}

.root {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px !important;
    margin-top: 120px !important;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .main {
        margin-top: 40px !important;
        margin-left: 30px !important;
    }

    .hello {
        display: none;
    }

    .landing-root {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        
    }
    .landing{
        width:40vh;
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    .hello {
        display: none;
    }
}